@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --grey-700: hsl(0, 0%, 20%);
    --grey-800: hsl(0, 0%, 12%);
    --grey-900: hsl(0, 0%, 8%);
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
}


.attribution { 
    font-size: 11px; 
    text-align: center; 
    color: var(--white);
    margin-top: 1em;
}
.attribution a { 
    color: hsl(228, 100%, 50%); 
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    position: relative;
    width: 1440px;
    height: 960px;

    background-color: var(--grey-900);
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 24px;

    width: auto;
    max-width: 384px;
    height: auto;

    background: var(--grey-800);
    border-radius: 12px;
}

.card__profile-pic {
    content: url("./assets/images/avatar-jessica.jpeg");

    width: 88px;
    height: 88px;
    
    border-radius: 999px;
}

.card__name-location {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 304px;
    height: auto;
    
    padding: 0px;
    gap: 4px;
}

.card__name-location__name {
    width: 304px;
    height: auto;

    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;

    text-align: center;
    color: var(--white);
}

.card__name-location__location {
    width: 304px;
    height: auto;

    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;

    text-align: center;
    color: var(--green);
}

.card__bio {
    width: 304px;
    height: auto;

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;

    text-align: center;
    color: white;
}

.card__links {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 304px;
    height: auto;

    padding: 0px;
    gap: 16px;
}

.card__links__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 8px;

    width: 304px;
    height: auto;

    border-radius: 8px;
    background-color: var(--grey-700);
}

.card__links__button__placeholder {
    width: auto;
    height: auto;

    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;

    color: white;
}

.card__links__button:hover, .card__links__button:hover .card__links__button__placeholder {
    background-color: var(--green);
    cursor: pointer;
    color: var(--grey-700);
}

.card__links__button:focus, .card__links__button:focus .card__links__button__placeholder {
    background-color: var(--green);
    color: var(--grey-700);
}